
<div id="logo">
  <img src="static/assets/images/burgerLogo.jpg" alt="" class="logo">
</div>

<h2>Burgers that are not eaten!</h2>
<div class="not-eaten-box">
{{#each burger}} {{#unless devoured}} {{> burgers/burger-block}} {{/unless}} {{/each}}
</div>
<br><hr>
<h2>Burgers that are eaten!</h2>
<div class="eaten-box">
{{#each burger}} {{#if devoured}} {{> burgers/burger-block}} {{/if}} {{/each}}
</div>


<form class="create-form">
  <hr>
  <h2>Add a Burger</h2>
  <div class="form-group">
    <label for="nameinput">Burger Name:</label>
    <input type="text" id="nameinput" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Eaten?</label>
    <br>
    <input type="radio" name="eaten" value="1" checked> Eaten!</inpu>
    <br>
    <input type="radio" name="eaten" value="0"> Un-eaten
  </div>

  <button class="create-burger" type="submit">Add Burger</button>
</form>